body{
    margin: 0px;
}
section{
    height: 500px;
    border: 2px solid red;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
}
p{
    color: #585858;
    margin-bottom: 35px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(180deg, lightsalmon, tomato);
    border-radius: 5px;
    padding: 10px 15px;
}