body{
    margin: 0px;
}
section{
    height: 500px;
    /* border: 2px solid red; */
}
h1{
    font-size: 50px;
    text-transform: uppercase;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
}
p{
    color: #585858;
    margin-bottom: 35px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(180deg, lightsalmon, tomato);
    border-radius: 5px;
    padding: 10px 15px;
}
.project-header{
    text-align: center;
    color: #ff8367;
}
.project{
    background-color: #F8F9FC;
}
.trio{
    width: 30%;
    background-color: white;
    height: 370px;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.trio img{
    width: 100%;
}
.child-one{
    height: 200px;
    width: 50%;
    background-image: url(../images/Group_33094_1.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 150px auto;
    border-radius: 10px;
    margin-bottom: 100px;
}
.left{
    height: 100px;
    width: 50%;
    float: left;
}
.inquiry-header{
    font-size: 40px;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
}
.right{
    height: 100px;
    width: 40%;
    float: left;
    padding-top: 100px;
    text-align: right;
}
.chat{
    color: white;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
}
.child-two{
    height: 140px;
    width: 50%;
    margin: 0px auto;
    text-align: center;
    color: #585858;
}
.child-two img{
    width: 30px;
    padding-right: 5px;
}
.service{
    background-color: #F8F9FC;
}
.service-header{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: salmon;
}
.service-trio{
    width: 30%;
    background-color: white;
    height: 330px;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.service-trio img{
    width: 100px;
}